[profile.release]
panic = 'unwind'

[workspace]
members = [
    'node',
    'runtime',
]

[patch."https://github.com/integritee-network/pallet-teerex.git"]
pallet-teerex = { path = '../pallet-teerex' }
