[package]
authors = ["Supercomputing Systems AG <info@scs.ch>"]
edition = '2018'
homepage = 'https://www.scs.ch'
license = 'Apache2'
name = 'substratee-node-runtime'
repository = 'https://github.com/scs/substratee-node/'
version = '0.6.1'

[package.metadata.docs.rs]
targets = ['x86_64-unknown-linux-gnu']

[dependencies.aura]
default-features = false
package = 'pallet-aura'
tag = 'v2.0.0-alpha.7'

[dependencies.balances]
default-features = false
package = 'pallet-balances'
tag = 'v2.0.0-alpha.7'

[dependencies.codec]
default-features = false
features = ['derive']
package = 'parity-scale-codec'
version = '1.3.0'

[dependencies.frame-executive]
default-features = false
tag = 'v2.0.0-alpha.7'

[dependencies.frame-support]
default-features = false
tag = 'v2.0.0-alpha.7'

[dependencies.grandpa]
default-features = false
package = 'pallet-grandpa'
tag = 'v2.0.0-alpha.7'

[dependencies.randomness-collective-flip]
default-features = false
package = 'pallet-randomness-collective-flip'
tag = 'v2.0.0-alpha.7'

[dependencies.serde]
features = ['derive']
optional = true
version = '1.0.101'

[dependencies.sp-api]
default-features = false
tag = 'v2.0.0-alpha.7'

[dependencies.sp-block-builder]
default-features = false
tag = 'v2.0.0-alpha.7'

[dependencies.sp-consensus-aura]
default-features = false
version = '0.8.0-alpha.7'
tag = 'v2.0.0-alpha.7'

[dependencies.sp-core]
default-features = false
tag = 'v2.0.0-alpha.7'

[dependencies.sp-inherents]
default-features = false
tag = 'v2.0.0-alpha.7'

[dependencies.sp-io]
default-features = false
tag = 'v2.0.0-alpha.7'

[dependencies.sp-offchain]
default-features = false
tag = 'v2.0.0-alpha.7'

[dependencies.sp-runtime]
default-features = false
tag = 'v2.0.0-alpha.7'

[dependencies.sp-session]
default-features = false
tag = 'v2.0.0-alpha.7'

[dependencies.sp-std]
default-features = false
tag = 'v2.0.0-alpha.7'

[dependencies.sp-transaction-pool]
default-features = false
tag = 'v2.0.0-alpha.7'

[dependencies.sp-version]
default-features = false
tag = 'v2.0.0-alpha.7'

[dependencies.sudo]
default-features = false
package = 'pallet-sudo'
tag = 'v2.0.0-alpha.7'

[dependencies.system]
default-features = false
package = 'frame-system'
tag = 'v2.0.0-alpha.7'

[dependencies.substratee-registry]
default-features = false
package = 'pallet-substratee-registry'
git = " https://github.com/scs/pallet-substratee-registry.git"
tag = "v0.6.1"

[dependencies.timestamp]
default-features = false
package = 'pallet-timestamp'
tag = 'v2.0.0-alpha.7'

[dependencies.transaction-payment]
default-features = false
package = 'pallet-transaction-payment'
tag = 'v2.0.0-alpha.7'

[build-dependencies.wasm-builder-runner]
package = 'substrate-wasm-builder-runner'
version = '1.0.5'

[features]
default = ['std']
std = [
    'aura/std',
    'balances/std',
    'codec/std',
    'frame-executive/std',
    'frame-support/std',
    'grandpa/std',
    'randomness-collective-flip/std',
    'serde',
    'sp-api/std',
    'sp-block-builder/std',
    'sp-consensus-aura/std',
    'sp-core/std',
    'sp-inherents/std',
    'sp-io/std',
    'sp-offchain/std',
    'sp-runtime/std',
    'sp-session/std',
    'sp-std/std',
    'sp-transaction-pool/std',
    'sp-version/std',
    'sudo/std',
    'system/std',
    'timestamp/std',
    'transaction-payment/std',
    'substratee-registry/std',
]
